<h1>投稿一覧ページ</h1>
<%= link_to "新規登録", new_post_path %>
<%= link_to "アイテム一覧", items_path %>
<%= link_to "ブランド一覧", brands_path %>
<div class="contents">
  <% @posts.each do |post| %>
    <div>
      <%= post.id %><%= post.contents %><%= link_to "編集", edit_post_path(post) %> <%= link_to "削除", post_path(post), method: :delete %>
    </div>
  <% end %>
</div>